.Projects {
    padding: 20px;
    background-color: #0F1624;
    color: white;
    margin-left: 155px;
  }
  
  h1 {
    display: flex;
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  .projectsGrid {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .projectCard {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .projectCard:hover {
    transform: scale(1.05);
  }
  
  .imageContainer {
    position: relative;
    
  }
  
  .projectImage {
    width: 70%;
    height: auto;
    display: block;
    border-style: solid;
    border-radius: 30px 10px;
    border-color: rgb(148, 156, 162);
  }
  
  .projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 64%;
    border-radius: 30px 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .projectCard:hover .projectOverlay {
    opacity: 1;
  }
  
  .projectOverlay h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .projectOverlay p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .projectButton {
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);

    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .projectButton:hover {
    color: aliceblue;
    background-color: #010b28;
    transform: translateY(-7px);
    transition-duration: 0.5s;
  }
  